
header {
    text-align: center;
}
.navbar_menu {
    text-align: center;    
}
.nav-a {
    display: inline-block;
}
.Showing ,.trending, .top5marvel ,.ticket-movie {
    text-align: center;
}
.Showing-ul,.trending-ul ,.top5marvel-ul , .ticket-movie-ul{
    list-style: none;
    display: inline-block;
} 

.img-box {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.showing-img-box {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.copyright {
    text-align: center;
}
.SNS {
    text-align: center;
}
.SNS-icon {
    text-align: center;
    display: inline-block;
}
.iframe-wrapper {
    text-align: center;
}
iframe {
    display: inline-block;
}
.iframe-map{
    display: inline-block;
}
.signUp-form , .signIn-form , .buyTicket-form{
    text-align: center;
}
.signUp-title, .signIn-title , .buyTicket-title {
    display: inline-block;
}
/* Introduce */
.introduce-wrapper {
    text-align: center;
}
.movie-description {
    text-align: center;
}



/* */
#ticketTable {
    display: inline-block;
    border-color: white;
    border: 1px solid red;
    color:white;
}

.fieldset-table{
    height: 500px;
}
.seats {
    margin:3px;
    display: inline-block;
    height: 30px ;
    width: 20px;
    background-color: red;
    color: white;
}
.seats:hover {
    background-color: white;
}
.block-seats {
    margin:3px;
    display: inline-block;
    height: 30px ;
    width: 20px;
    background-color: black;
}
.seats-line {
    margin:3px;
    display: inline-block;
    height: 30px ;
    width: 20px;
    color: white;
    vertical-align: top;
    font-weight: bold;
}

#goto_seat_button {
    color: red;
    margin-top:100px;
    height: 10%;
    width: 10%;
}
#goto_seat_button:hover{
    transition: 0.5s;
    background-color: red;
    color: white;
}
#goto_seat_button:hover #goto_seat_span {
    transition: 0.5s;
    color: white;
}

#goto_seat_span {
    color:red;
}

.select-ticket-wrapper {
    text-align: center;
}

.showTicket-title-button, .buyTicket-title-button {
    margin: 50px;
    display: inline-block;
    color: white;
    font-size: 50px;
    font-weight: bold;
    

}
.showTicket-title-button:hover, .buyTicket-title-button:hover {
    transition: 0.5s;
    color: red;
}

.showTicket-wrapper {
    text-align: center;
}
.showTicket-title {
    margin: 20px;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.bookingList {
    margin-top:50px;
    color:white;
    font-size: 35px;
}

.showing-Movie {
    margin: 10px;
}

.showing-Movie:hover {
    transition: 0.5s;
    color: red;
    font-size: 50px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.BookedList{
    font-size:25px;
}
.remove-wrapper {
    text-align: center  ;
}
.remove_movie_button {
    display: inline-block;
    height: 50px;
    width:150px;
    color:red;
    font-size: 20px;
    font-weight: bold;
}
.remove_movie_button:hover {
    transition: 0.5s;
    color:white;
    font-size: 30px;
}
#rmvSelect {
    height: 30px;
    width:100px;
    background-color: white;
    color:red;
    font-size: 15px;
    font-weight: bold;
}
#rmvSelect:hover {
    transition: 0.5s;
    color:white;
    background-color:red;
}