body {
    margin: 0; 
}
header {
    padding: 8px 12px;
}

.navbar_menu {
    padding-left: 0;
    padding-right: 10px;

}
.navbar_menu_subnav {
    padding: 10px;
    margin:0 auto;
}
.navbar_sign_subnav {
    padding: 10px;
    margin:0 auto;
}
.navbar_menu_subnav:hover {
    border-radius: 4px;
}
.navbar_sign_subnav:hover {
    border-radius: 4px;
}
.nav-a {
    font-size: 1rem;
    padding:0 5%;
}
.nav-a:hover {
    font-size: 1.5rem;
}

.logo , .logo-a {
    font-size: 50px;
}

.article-title {
    padding-left: 50px;
    margin:10 20px;
    font-size: 35px;
}
.Showing, .trending, .top5marvel , .ticket-movie {
    margin: 0 10px;
}
.Showing-ul,.trending-ul ,.top5marvel-ul , .ticket-movie-ul{
    margin:0;
    padding: 0;
} 
.Showing-ul li,.trending-ul li ,.top5marvel-ul li ,.ticket-movie-ul li {
    padding: 10px;
}
.img-box {
    width: 200px;
    height: 430px;
}
.showing-img-box {
    width: 200px;
    height: 430px;
}
.poster-images {
    height: 100%;
}

.img-box:hover {
    width:270px;
    height: 470px;
}
.copyright {
    font-size: 15px;
}

.SNS {
    width: 600px;
    margin: 0 auto;
}
.SNS-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 35px;

}
.SNS-icon i:hover {
    height: 130px;
    font-size: 50px;
}

iframe {
    margin:0 auto;
    width:80%;
    height: 700px;
}
.iframe-map{
    margin:0 auto;
    width:35%;
    height: 300px;
}
.iframe-ticket {
    height: 700px;
}
.signUp-title, .signIn-title , .buyTicket-title {
    font-size: 2rem;
    margin:10px auto;
}
.signUp-fieldset , .signIn-fieldset , .buyTicket-fieldset {
    height: 1000px;
}

.fieldset-email , .fieldset-password , .fieldset-name, .fieldset-nickname ,.fieldset-movieName, .fieldset-number, .fieldset-calender{
    margin-top:20px;
    font-size: 1.7rem;
}
#login_button, #send_button  {
    margin-top: 100px;
    height: 20%;
    width: 10%;
}
#reset_button,#book_button {
    margin-top:30px;
    height: 5%;
    width: 10%;
}
.findPassword ,.signUp-signIn , .signIn-signUp  {
    margin-top:30px;
    font-size: 1.3rem;
}
.findPassword a:hover ,.signUp-signIn a:hover , .signIn-signUp a:hover {
    font-size: 1.5rem;
    transition: 0.3s;
}

label {
    font-size: 1rem;
}

.introduce-title {
    font-size: 2rem;
}
.introduce-map-title{
    margin-bottom: 100px;
}

.movie-description {
    margin: 30px 50px 50px 50px;
}

.movie-description-title {
    font-size: 2rem;
}

.movie-description-body {
    font-size: 1rem;
}

#signup-name , #signup-nickname, #signup-email ,#signup-password ,#signIn-email, #signIn-password, #reset-email {
    line-height: 30px;
    padding: 0 15px;
    border-radius: 15%;
}

select {
    height: 40px;
    border: 1px solid #999;
    border-radius: 0px;
}


#buyTicket-calender {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15%;
}

.buyTicket-number {
    margin:10px;
    font-weight: 10px;
}